<div class="todo">
	<h1>Edit Todo</h1>

	<div class="card">
		<div class="general-menu">
			<%= simple_form_for @todo_list do |f| %>
				<%= f.input :user_id, as: :hidden, input_html: {value: current_user.id } %>
				<%= f.input :name %>
				<%= f.input :private_todo, as: :boolean, checked_value: true, unchecked_value: false %>
				<%= f.button :submit, "Update" %>
			<% end %>
		</div>
	</div>
</div>
