<div class="todo-container">
  <div class="card">
    <%= render 'todo_header' %>
    <%= image_tag(@todo_list.photo) %>

    <div class="card-container">
      <%= render 'todo_favorite_menu' %>
      <div class="title" id="<%= @todo_list.id %>"><%= @todo_list.name %></div>
      <%= render 'todo_items' %>
    </div>
  </div>
</div>
