<div class="todo-container">
  <div class="card">
    <%= render partial: 'todo_lists/partials/todo_header', locals: { todo_list: todo_list } %>

    <%= image_tag(todo_list.photo) %>

    <div class="card-container">
      <%= render partial: 'todo_lists/partials/favorite_todo', locals: { todo_list: todo_list } %>

      <div class="title" id="<%= todo_list.id %>"><%= todo_list.name %></div>

      <%= render partial: 'todo_lists/partials/todo_items', locals: { todo_list: todo_list } %>
    </div>
  </div>
</div>
