<header>
	<%= link_to( image_tag("graffiti_logo_small.png"), root_path, class: 'logo') %>
	<nav>
		<ul>
			<% if user_signed_in? %>
				<li><%= link_to "New", new_todo_list_path %></li>
				<li><%= link_to "All", todo_lists_path %></li>
				<li><%= link_to "My Todos", todo_lists_my_todos_path %></li>
				<li><%= link_to "My Favorites", favorite_todos_path %></li>

				<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Sign up", new_user_registration_path %></li>
				<li><%= link_to "Log in", new_user_session_path %></li>
			<% end %>
		</ul>
	</nav>
</header>